<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Temas por categoría</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
<body>
    <header>
        <h1>Guía de SQL</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mt-4">
        <h1 class="mb-4">Temas de la Categoría</h1>
        <ul class="list-group">
            <!-- Aquí van los temas de la categoría seleccionada -->
            {% for tema in temas %}
            <li class="list-group-item"><a href="/descripcion_tema/{{ tema[0] }}">{{ tema[1] }}</a></li>
            {% endfor %}
        </ul>        
    </div>

    <footer>
        <p>&copy; 2024 Marco Cubaque</p>
    </footer>
</body>
</html>
